.metadata-tab-view table {
    margin-left: .5em;
}

.metadata-tab-view tr:hover {
    background-color: transparent;
}

.metadata-tab-view td {
    border: none;
    padding: 0;
}

.metadata-tab-view .key {
    color: #999;
    padding-right: .5em;
    vertical-align: top;
}

.metadata-tab-view .value {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 1px;
}

.metadata-tab-view .value:hover {
    white-space: pre-wrap;
}
